.card{
    width: 120px;
    max-height: 180px;
    .image{
        width: 100%;
        height: 130px;
        overflow: hidden;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }    
}

.createIdeaHomePage{
    width: 300px !important;
    height: 240px;
    // display: ;
}

.cardTwo{
    width: 120px;
    height: 110px;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

